<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flight.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,700;1,400;1,600&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/selected_flight.css') }}">

</head>
<body>
    <section class="header">
        <nav>
            <a href="{{ url_for('home') }}"><img src="{{url_for('static', filename='img/logo_final.png') }}" alt=""></a>
            <div class="nav_links">
                <ul>
                    <li>
                        <a href="{{ url_for('home') }}">
                            <div class="nav_col">
                                <i class="bi bi-house-door" style="font-size: 26px"></i>
                                <h3>Home</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('flight') }}">
                            <div class="nav_col flight">
                                <i class="bi bi-airplane" style="font-size: 26px"></i>
                                <h4>Flights</h4>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('train') }}">
                            <div class="nav_col">
                                <i class="bi bi-train-lightrail-front" style="font-size: 26px"></i>
                                <h4>Trains</h4>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('holiday') }}">
                            <div class="nav_col">
                                <i class="bi bi-briefcase" style="font-size: 26px"></i>
                                <h4>Holidays</h4>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('trip') }}">
                            <div class="nav_col">
                                <i class="bi bi-car-front" style="font-size: 26px"></i>
                                <h4>Trips</h4>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="side profile">
                <!-- <img src="images/matt_pery.jpg" class="user_pic" onclick="togglemenu()" alt=""> -->
                <i class="bi bi-person-circle" class="user_pic" onclick="togglemenu()" style="font-size: 30px;"></i>
                <h4>{{ username }}</h4>
            </div>
            <div class="sub_menu_wrap" id="submenu">
                <div class="sub_menu">
                    <div class="user_info">
                        <!-- <img src="images/matt_pery.jpg" alt=""> -->
                        <h3>{{ username }}</h3>
                    </div>
                    <hr>
                    <a href="{{ url_for('user') }}" class="sub_menu_link">
                        <img src="{{ url_for('static', filename='img/profile.png') }}" alt="">
                        <p>View Profile</p>
                        <span>></span>
                    </a>
                    <a href="#" class="sub_menu_link">
                        <img src="{{ url_for('static', filename='img/setting.png') }}" alt="">
                        <p>Settings and privacy</p>
                        <span>></span>
                    </a>
                    <a href="#" class="sub_menu_link">
                        <img src="{{ url_for('static', filename='img/help.png') }}" alt="">
                        <p>Help & Support</p>
                        <span>></span>
                    </a>
                    <a href="{{ url_for('signup_page')}}" class="sub_menu_link">
                        <img src="{{ url_for('static', filename='img/logout.png') }}" alt="">
                        <p>Logout</p>
                        <span>></span>
                    </a>
                </div>
            </div>
        </nav>

<div class="flight-details">
            <div class="flight-info">
              <h2 class="flight-number">{{ flight_no }}</h2>
              <p class="airline">{{ airline }}</p>
              <p class="route">{{ origin_name }} ({{ origin_code }}) - {{ destination_name }} ({{ destination_code }})</p>
              <p class="date">{{ dep_date }}</p>
              <p class="departure-time">Departure Time: {{ dep_time }}</p>
              <p class="arrival-time">Arrival Time: {{ arr_time }}</p>
              <p class="duration">Duration: {{ duration.seconds // 3600 }}h {{ (duration.seconds % 3600) // 60 }}m</p>
            </div>
            <div class="airport-info">
              <div class="airport">
                <h3>{{ origin }}</h3>
                <p>{{ origin_name }} ({{ origin_code }})</p>
              </div>
              <div class="airport">
                <h3>{{ destination }}</h3>
                <p>{{ destination_name }} ({{ destination_code }})</p>
              </div>
            </div>
          </div>
                              
            <form action="{{ url_for('payment_page_flight') }}" method="post">
                <input type="hidden" name="flight_no" value="{{ flight_no }}">
                <input type="hidden" name="airline" value="{{ airline }}">
                <input type="hidden" name="origin" value="{{ origin }}">
                <input type="hidden" name="destination" value="{{ destination }}">
                <input type="hidden" name="dep_time" value="{{ dep_time }}">
                <input type="hidden" name="arr_time" value="{{ arr_time }}">
                <input type="hidden" name="dep_date" value="{{ dep_date }}">
                <input type="hidden" name="duration" value="{{ duration }}">
                <input type="hidden" name="origin_code" value="{{ origin_code}}">
                <input type="hidden" name="origin_name" value="{{ origin_name}}">
                <input type="hidden" name="destination_code" value="{{ destination_code }}">
                <input type="hidden" name="destination_name" value="{{ destination_name }}">
                <button class ="but" type="submit">Review and Proceed to Pay</button>
            </form>
            <button class="but back" onclick="goBack()">Back</button>
        </div>
    </section>
    <section class="extra">
        <div class="info">
            <p>
                Travel Guide: Get latest updates on airlines and international guidelines,
                          state-wise quarantine rules, travel checklist, web-checkins, etc.
            </p>
            <p>
                Important Info: To cancel/claim refund or reschedule/modify
                              your booking. Click Here.  
            </p>
        </div>
    </section>

    <section class="footer">
        <div class="row">
            <div class="logo">
                <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='img/logo_final.png') }}" alt=""></a>
                <p>Ease Your Journey <br> Use Journify </p>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
            <div class="footer_col">
                <h2 class="top">Company</h2>
                <a href="">About Us</a>
                <a href="">Destinations</a>
                <a href="">Packages</a>
                <a href="">Contacts</a>
            </div>
            <div class="footer_col">
                <h2 class="top">Help</h2>
                <a href="">Help/FAQ's</a>
                <a href="">Cancel Flight</a>
                <a href="">Press</a>
                <a href="">Contacts</a>
            </div>
            <div class="footer_col">
                <h2 class="top">More</h2>
                <a href="">Domestic Flights</a>
                <a href="">Investor Relations</a>
                <a href="">Partnerships</a>
                <a href="">Jobs</a>
            </div>
            <div class="footer_col">
                <h2 class="top">Terms</h2>
                <a href="">Privacy Policy</a>
                <a href="">Terms of Use</a>
                <a href="">Accessibility</a>
                <a href="">Contacts</a>
            </div>
        </div>
    </section>
</body>
</html>
